{% extends "base.html" %}
{% block content %}
<article class="post content">
  <p class="meta-date">{{ date }}</p>
  <h1 class="post-title">{{ title }}</h1>
  <div class="post-body">
{{ content }}
  </div>
</article>
<section class="comments content" aria-labelledby="comments-title">
  <h2 id="comments-title">comments</h2>
  <div class="giscus"></div>
  <script src="https://giscus.app/client.js"
          data-repo="2urleft/2urleft.github.io"
          data-repo-id="R_kgDOUK04yA"
          data-category="General"
          data-category-id="[ENABLE DISCUSSIONS AND COPY CATEGORY ID]"
          data-mapping="pathname"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="bottom"
          data-theme="light"
          data-lang="en"
          crossorigin="anonymous"
          async></script>
{% endblock %}
